@model _04_PasarDatosDeControladorAVistaParte2.clsPersona

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<html>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <label> Nombre </label><input type="text" name="nombre" value="@Model.nombre" /><br />
            <label> Apellido1 </label> @Html.TextBox("Apellido1")<br />
            <label> Apellido2 </label> @Html.TextBoxFor(objpersona => objpersona.apellido2) <br />
            <label> Fecha de Nacimiento </label> @Html.TextBoxFor(objpersona => objpersona.fechaNacimiento) <br />
            <label> Direccion </label> @Html.TextBoxFor(objpersona => objpersona.direccion) <br />
            <label> Telefono </label> @Html.TextBoxFor(objpersona => objpersona.telefono) <br />

            <button type="submit">Enviar</button>
        }
    </div>
</body>
</html>
